body{font-family:Helvetica, sans-serif;max-width:100%;max-height:100%}body,h4{margin:0;padding:0}.container{border:0.1em solid lightgrey;border-radius:1em}.container div{padding:0.5em}.block{text-align:center}.block:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em}.centered{display:inline-block;vertical-align:middle;max-height:100%;max-width:100%}.clearfix{overflow:auto;zoom:1}
