.selected {
	padding: 0 1em;
	border: 0.1em solid $border-color;
	border-bottom: 0.1em solid #fff;
}

#tv-seasons-container {
	a {
		color: $header-text-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		li {
			display: inline-block;
			padding-right: 0.5em;
		}
	}
}

.ellipsis {
	width: 24em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

#fake-box {
	padding: 0em 2.5em;
	border: 0.1em solid $border-color;

	table {
		width: 100%;
		padding: 1em;

		th {
			padding: 0.5em;
			border-bottom: 1px solid $border-color;
		}

		td, th {
			text-align: center;
		}

		td{
			padding: 0.7em;
			border-left: 1px solid $border-color;
			&:nth-child(2) {
				text-align: justify;
			}
			&:first-child {
				border-left: none;
			}
		}

		tbody tr:hover {
			background-color: hsl(150,60%,70%);
			color: white;
			a {
				color: white;
			}
			.button {
				text-decoration: none;
				color: black;
			}
		}

		tbody tr:first-child:hover {
			background-color: transparent;
			color: inherit;
		}
		tbody:after {
			padding-top: 2em;
			content: "";
			display:block;
		}
	}
}

.remove-episode-rating {
	a {
		text-decoration:none;
		img {
			width: 0.875em;
			height: 0.875em;
		}
	}
}

.desc-clear {
	width: 27em;
	font-size: 90%;
}

.add-box {
	border: 0.1em solid $border-color;
	@include border-radius($border-radius);
	padding: 0.5em;
}