#show-data-container {
	img {
		float:left;
		padding-right: 1em;
	}

	article {
		margin: 1em 0;
	}
}

#show-cover {
	width: 13.375em;
	height: 20em;
}

#series-title {
	h2 {
		padding-bottom: 0.3em;
		border-bottom: 0.063em solid $border-color;
	}
}

#tv-rating {
	margin-top: 1em; //
	div {
		margin-top: 1em;
	}
	#your-rating {
		margin-left: 0.5em;
	}
}

#show-description {
	margin-top: 1em;
}

#show-details {
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 0.063em solid $border-color;

}

#watched-by {
	margin-top: 1.3em;
	margin-bottom: -0.6em;
	p {
		text-align: center;
		font-size: 1.3em;
	}
}