/**
 * Default Look and Feel
 */
.alertify-log {
	font-family: sans-serif;
	font-size: 1em;
	color: black;
}

.alertify-log {
	margin-right: 1em;
	background: #1F1F1F;
	background: rgba(0,0,0,.9);
	padding: 0.8em;	
	border-radius: 4px;
	color: white;
}
	.alertify-log-error {
		background: #FE1A00;
		background: rgba(254,26,0,.9);
	}
	.alertify-log-success {
		background: #5CB811;
		background: rgba(92,184,17,.9);
	}