.alert {
	width: $alert-box-width;
	margin: auto;
	padding: 8px 35px 8px 14px;
	margin-bottom: 1.125em;
	margin-top: 2em;
	color: darken(#c09853, 15%);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: darken(#fcf8e3, 15%);
	border: 1px solid darken(#fbeed5, 15%);
	@include border-radius(4px);
	.close {
		position: relative;
		top: -2px;
		right: -21px;
		line-height: 18px;
	}
}

.alert-success {
	color: darken(#468847, 15%);
	background-color: darken(#dff0d8, 15%);
	border-color: darken(#d6e9c6, 15%);
}

.alert-danger, .alert-error, .alert-remove {
	color: darken(#b94a48, 20%);
	background-color: darken(#f2dede, 10%);
	border-color: darken(#eed3d7, 15%);
}

.alert-info {
color: darken(#3a87ad, 15%);
background-color: darken(#d9edf7, 15%);
border-color: darken(#bce8f1, 15%);
}