#browse {

	h1, h2, h3 {
		margin-bottom: 1em;
		a {
			text-decoration: none;
			color: $font-color;
		}
	}

	p.margin {
		margin-top: -1em;
		margin-bottom: 1em;
	}
}

.fake-center {
	margin-left: 1em;
}

.mini-container {
	display: inline-block;
	border: 1px solid $mini-show-container-border-color;
	@include border-radius($border-radius);
	margin-bottom: 0.5em;
	text-align: center;
	height: 23em;
	width: 19%;
	background-color: $mini-show-container-color;
	color: $mini-show-container-font-color;

	div {
		padding: 0.5em;
		.ellipsis {
			width: 8em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis; 
		}
		p {
			display: inline-block;
		}
	}

	img {
		width: 100%;
		height: 18em;
	}

}

.add-show {
	position: absolute;
	top: 3%;
	right: 3%;
}

.remove-show {
	@extend .add-show;
}