.button {
	border: 1px solid $border-color;
	font-size: 0.875em;
	padding: 0.5em 1em;
	display: inline-block;
	text-decoration: none;
	border-radius: 0.188em;
	background-color: $button-primary-color;
}

.button:hover {
	background-color: $button-hover-color;
	border: 1px solid darken($border-color, 5%);
}

.button-tiny {
	font-size: 0.750em;
	padding: 0.375em 0.875em;
}

.button-medium {
	font-size: 1em;
	padding: 0.625em 1.125em;
}

.button-large {
	font-size: 1.125em;
	padding: 0.750em 1.250em;
}

.button-input-width {
	width: 17.5em;
}