#form {
	h1 {
		margin-bottom: 0.7em;
	}
	input[type=text] {
		width: 16em;
		margin: 0.5em auto;
		padding: 0.7em;
		border: solid 1px #dcdcdc;
		transition: box-shadow 0.3s, border 0.3s;
		@include border-radius($border-radius);
		font-size: 1em;
		&:focus {
			border: solid 1px hsl(0,1%,70%);
			box-shadow: 0 0 5px 1px hsl(0,1%,80%);
		}
	}

	input[type=password], input[type=file], input[type=email], input[type=date], input[type=number],
	select, textarea {
		@extend input[type=text];
	}

	textarea {
		font: inherit;
		height:10em;
	}

	ul {
		width: $warning-width;
		margin: 1em auto;
		padding: 0.5em;
		background-color: #F2DEDE;
		color: #b94a48;
		border: 1px solid #eed3d7;
		@include border-radius($border-radius);
	}
}