header {
	width: $width;
	margin: 0 auto;
	padding: 0.7em 1em;
	text-align: center;
	background-color: $header-color;
	color: $header-text-color;
	border: 1px solid $border-color;
	border-top: 0;
	@include border-radius($border-radius);
	@include border-top-left-radius(0);
	@include border-top-right-radius(0);
	#right {
		float: right;
		margin-right: 1em;
		margin-top: 0.4em;
	}
	a {
		color: $header-text-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

#logo {
	float: left;
	margin-top: 0.1em;
	img {
		height: 1.938em;
	}

	a {
		text-decoration: none;
		color: $header-text-color;
	}
}

#search-bar {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0.1em;
	margin-left: 1.5em;
	border: 1px solid $border-color;
	@include border-radius($border-radius);
	background-color: white;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
	overflow:hidden; // prevents background color from cropping the top-left and top-right corners of the border-radius property 
	input[type="search"] {
		float: left;
		margin-top: 0.25em;
		width: 25em;
		padding: 0.5em;
		padding-left: 1em;
		border: 0;
	}

	button {
		margin-top: 0.3em;
		float: right;
		background-color: white;
	}
}

nav ul {
	li {
		padding-left: 0.7em;
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: $header-text-color;
	}
	a:hover {
		color: #555;
		text-decoration: underline;
	}
}