%highlight {
	padding: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 0.5em;
}

.highlight-golden {
	@extend %highlight;
	background-color: hsl(43, 70%, 60%);
}

.highlight-orange {
	@extend %highlight;
	background-color: hsl(23, 60%, 60%);
}

.highlight-lime-green {
	@extend %highlight;
	background-color: hsl(60, 60%, 60%);
}

.highlight-green {
	@extend %highlight;
	@include border-radius($border-radius);
	background-color: $logo-color;
	a {
		color: white;
	}
}

.dark-grey {
	color: lighten(#6d6d6d,15%);
}

.b-color-footer {
	background-color: $footer-color;
	color: white;
	a {
		color: white;
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
}