/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	//setting the width of all these elements
	header, .container, footer {
		width: 88%;
	}

	.alert {
		width: 78.2%;
	}

	.container {
		padding: 0.5em;
	}

	//header block
	header {
		padding: 0.5em;
		text-align: center;
		#right {
			float: none;
			margin-top: 0.5em;
		}
	}

	#logo {
		float: none;
	}
	
	#search-bar {
		margin-top: 0.5em;
		margin-left: 0;
		input[type="search"] {
			width: 64%;
		}

		button {
			//margin-top: 0.3em;
		}
	}

	nav ul {
		li {
			padding-top: 0.7em;
			display: block;
		}
	}

	// individual tvshow page
	#show-data-container {
		text-align: center;
		img {
			float: none;
			padding-right: 0;
		}
		#show-cover {
			width: 70%;
			height: 90%;
		}
		#your-rating {
			width: 90%
		}
	}

	#tv-seasons-container {
		//width: 60%;
	}

	//the rest

	#browse {
		text-align: center;
	}

	.add-show, .remove-show {
		position: static;
		margin-bottom: 1em;
		.button-medium {
			padding: 0.375em 0.875em;
		}
	}

	.mini-container {
		width: 80%;
	}

	.fill-margin {
		margin: 5em 0;
	}

	.desc-clear {
		width: 60em;
		max-width: 100%;
	}

	h1 {
		font-size: 120%;
	}

	.clearfix {
		overflow: none;
		zoom: 1;
	}

	//forms
	#form {
		input[type=text] {
			width: 80%;
		}
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	//setting the width of all these elements
	header, .container, footer {
		width: 88%;
	}

	.alert {
		width: 86.2%;
	}

	.container-half {
	width: 40.5%;
		&:nth-child(2) {
			//margin-left: 0;
		}
	}

	//header block
	#search-bar {
		margin-top: 0.5em;
		margin-left: 0;
		input[type="search"] {
			width: 64%;
		}
	}

	// individual tvshow page
	#show-data-container {
		text-align: center;
		img {
			float: none;
			padding-right: 0;
		}
		#show-cover {
			width: 30%;
			height: 40%;
		}
		#your-rating {
			width: 90%
		}
	}

	#tv-seasons-container {
		//
	}

	.ellipsis {
		width: 80%;
	}

	.desc-clear {
		width: 5em;
	}

	#fake-box {
		padding: 0;
		table {
			th, td {
				&:nth-child(3) {
					//visibility: collapse;	
				}
			}
		}
	}

	//the rest
	#browse {
		text-align: center;
		.fake-center {
			margin-left: 0;
		}
	}

	.add-show, .remove-show {
		position: static;
		margin-bottom: 1em;
		.button-medium {
			padding: 0.375em 0.875em;
		}
	}

	.mini-container {
		width: 30%;
		height: 10%;
	}

	.fill-margin {
		margin: 10em 0;
	}

	.desc-clear {
		width: 15em;
		max-width: 100%;
	}

	h1 {
		//font-size: 120%;
	}

	.clearfix {
		overflow: none;
		zoom: 1;
	}

	//forms
	#form {
		input[type=text] {
			width: 50%;
		}
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	//lets leave this empty because the site is set by default to work with the said screen size
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	header, .container, footer, .alert {
		width: 80%;
	}

	.alert {
		width: 79.1%;
	}

	.container-half {
		width: 38.6%;
	}

	.mini-container {
		height: 23em;
		width: 12%;
	}

	.desc-clear {
		width: 60em;
		max-width: 100%;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}