.profile-table {
	margin: 0 auto;
	
	table {
		border-collapse: collapse;
		width: 100%;
		font-size: 150%;
		margin: 0 auto;
	}

	thead {
			th {
				border: 0.1em solid #DDD;
				padding: 1em;
				text-align: center;
			}
	}

	tbody {
		tr {
			background-color: $logo-color;
			td, a {
				color: white;
			}
			&:hover {
				background-color: lighten($logo-color,5%);
			}
		}
		
		td {
			border: 0.1em solid #DDD;
			padding: 1em;
			text-align: center;
		}

		a {
			text-decoration: none;
			color: $font-color;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.profile-image {
	//border: 1px solid $border-color;
	@include border-radius($border-radius);
	-webkit-box-shadow: 0px 0px 1px 2px $border-color;
	box-shadow: 0px 0px 1px 2px $border-color;
	img {
		width: 73px;
		height: 73px;
	}
}