.flat-table {
  font-size: 115%;
  
  td {
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid black;
    &:hover {
      background-color: #49ACA5;
      a {
        color: rgb(238, 238, 238);
      }
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    text-decoration: none;
    color: #49AC8D;
    &:hover {
      text-decoration: underline;
    }
  }

}
