a.tooltip {
	color: red;
	outline: none;
	strong {
		line-height: 30px;
	}
	&:hover {
		text-decoration: none;
		span{
			display:inline; position:absolute; color:#111;
			border:1px solid #DCA; background:#fffAF0;
		}
	}
	span {
		z-index: 10;
		display: none; 
		padding: 14px 20px;
		margin-top: -30px; 
		margin-left: 28px;
		width: 9.375em; 
		line-height: 1.2em;
		border-radius: 4px;
		box-shadow: 5px 5px 8px #CCC;
		word-break: break-word;
		white-space: normal;
	}
}

.callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}