$width: 62.500em;
$padding: 1em;
$actual-width: $width+($padding*2);
$alert-box-width: 61.563em;
$warning-width: 31.250em;

$font-color: black;

$fill-color: #efefef;
$border-color: darken($fill-color,5%);

$background-color: #2969D9; //1st choice: #ee3e64 //2nd: #44b5ed //3rd: #CF4646 
$container-color: white;

$border-radius: 0.3em;

$button-primary-color: $fill-color;
$button-hover-color: darken($fill-color,5%);

$container-border-color: $border-color;
$container-font-color: black;

$mini-show-container-color: #efefef;
$mini-show-container-border-color: $border-color;
$mini-show-container-font-color: black;

$header-color: #F5F5F5;
$header-text-color: $font-color;
$header-font: Century;

$logo-color: #49aca5;

$footer-color: #545454; //bubbly pink: lighten(#ee3e64,10%)
$footer-text-color: white;