@import 'variables';

.admin-container {
	display: flex;
	width: $actual-width;
	margin: 0 auto;
	margin-top: 2em;
	background-color: $container-color;
	border: 0.12em solid $container-border-color;
	border-radius: $border-radius;
}

aside {
	width: 22%;
	min-height: 21em;
	background-color: #CF4646; //#ee3e64
	a {
		color: white;
		text-decoration: none;
	}
	ul{
		li {
			ul {
				padding-top: 0.5em;
				li {
					padding: 0.5em 0.7em;
					background-color: #CF4646; //#ee3e64
					&:hover {
						background-color: darken(#ee3e64,20%); //1st choice: darken(#85e0b3,20%)
					}
				}
			}
		}
	}
}

.active {
	background-color: darken(#ee3e64,20%);
}

section {
	width: 78%;
	padding: $padding;
	word-wrap: break-word;
	h1 {
		margin-bottom: .7em;
	}
}

#form {
	h1 {
		margin-bottom: -0.7em;
	}

	input[type=text], input[type=number], input[type=password], input[type=email], input[type=date],
	select, textarea {
		margin: 0.5em 0;
	}

	label {
		margin-top: 1em;
	}
}

table, th, td {
	border-collapse: collapse;
	padding: 0.5em;
	text-align: center;
	border: 0.07em solid black;
}

#addshows {

	table, th, td {
		border-collapse: separate;
		padding: 0;
		text-align: none;
		border: 0.1em solid black;
	}

	table {
		td {
			input[type=text] {
				border: 0;
			}

			&:first-child {
				input[type=text] {
					width: 1.7em;
					border: 0;
				}
			}
			&:nth-child(3) {
				input[type=text] {
					width: 1.5em;
					border: 0;
				}
			}
			&:nth-child(2) {
				input[type=text] {
					width: 22em;
				}
			}
			&:nth-child(4) {
				input[type=text] {
					width: 5em;
				}
			}
			&:nth-child(5) {
				input[type=text] {
					width: 26.5em;
				}
			}
		}
	}
}

.select-stuff {
	select {
		margin: 0.5em 0;
		padding: 0.5em;
		border: solid 1px #dcdcdc;
		transition: box-shadow 0.3s, border 0.3s;
		border-radius: $border-radius;
		font-size: 1em;
		&:focus {
			border: solid 1px hsl(0,1%,70%);
			box-shadow: 0 0 5px 1px hsl(0,1%,80%);
		}
	}
}

@media only screen 
and (min-width : 1824px) {
	.admin-container {
		width: 81.7%;
	}
}