@import 'reset';

@import 'variables';

@import 'mixins';

body {
	font: 100% "Open Sans", sans-serif;
	color: $font-color;
	background-color: $background-color;
}

#wrapper {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
}

#content {
	flex: 1 0 auto;
	width: 100%;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

.container {
	width: $width;
	margin: 0 auto;
	margin-top: 2em;
	padding: $padding;
	position: relative;
	background-color: $container-color;
	color: $container-font-color;
	border: 0.12em solid $container-border-color;
	@include border-radius($border-radius);
}

.container-single {
	padding-bottom: 2em;
}

.container-without-padding {
	padding: 0;
	width: $actual-width;
}

.container-half {
	width: ($width/2)-1.7em;
	&:nth-child(2) {
		margin-left: 1em;
	}
	vertical-align: top; //prevents the margin mess-up when this class is set to display:inline-block;
}

.center {
	text-align: center;
}

.set-display-block {
	display: block;
}

.set-display-inline-block {
	display: inline-block;
}

input[type="submit"], button {
	cursor: pointer;
	border: 0;
	color: $font-color;
}

input[type="checkbox"] {
	cursor: pointer;
	height: 1.1em;
	width: 1.1em;
}

//use this fill when there's nothing in the document
.fill-margin {
	margin: 15em 0;
}

.sort {
	margin-bottom: 1em;
	a {
		color: $font-color;
	}
}

footer {
	flex: none;
	background-color: $footer-color;
	width: $width;
	margin: 0 auto;
	margin-top: 2em;
	padding: $padding;
	text-align: center;
	color: $footer-text-color;
	a {
		text-decoration: none;
		color: $footer-text-color;
		&:hover {
			text-decoration: underline;
		} 
	}
}

@import 'imports';