body {
	font-family: Helvetica, sans-serif;
	max-width: 100%;
	max-height: 100%;
}

body, h4 {
	margin: 0;
	padding: 0;
}

.container {
	border: 0.1em solid lightgrey;
	border-radius: 1em;
	div {
		padding: 0.5em;
	}
}

/* This parent can be any width and height */
.block {
	text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}